{
    "clangd.arguments": [
        "--compile-commands-dir=${workspaceFolder}/build/debug",
        "--background-index",
        "--clang-tidy",
        "--header-insertion=never"
    ],
    "C_Cpp.intelliSenseEngine": "disabled",
    "files.associations": {
        "*.hpp": "cpp",
        "*.h": "c"
    },
    "cmake.configureOnOpen": false
}
